/* Poppins font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}


body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/books-background-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 650px;
  padding: 0 1rem;
}

#header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #f7e7b4;
  }

  .add-btn {
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;
  }
}


#form-ui-dialog {
  width: 90%;
  max-width: 550px;
  align-self: center;
  margin: 0 auto;  
  border: none;
  border-radius: .8rem;
  box-shadow: 2px 2px 2px 3px #2525253b;

  form {
    display: flex;
    flex-wrap: wrap;
    padding-right: 1rem;
    .row {
      margin: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      label {
        display: block;
        flex: 1 1 80px;
        text-align: right;
        padding-right: 1.5rem;
      }      
      input {
        flex: 10 1 100px;
        height: 40px;
        padding: 1rem;
        font-size: 1rem;
        border: none;
        border-radius: .5rem;
        box-shadow: 1px 1px 1px 1px #2525253b;
        outline: none;
      }

      .submit {
        font-family: inherit;
        font-size: 1rem;
        margin-left: 100px;
        flex: 1 1 50px;
        height: 40px;
      }
    }
  }
}

#form-ui-dialog::backdrop {
  background-color: #e7e2e257;
  backdrop-filter: blur(5px);
}








